{% extends "master.html" %}

{% block title %}Home Page{% endblock title %}

{% block content %}
    <div class="row justify-content-center align-items-center g-2">
        <div class="col">
            <h1>Welcome to local </h1>
            <div
                class="table-responsive"
            >
                <table
                    class="table table-primary"
                >
                    <thead>
                        <tr>
                            <th scope="col">Number of Books Title</th>
                            <th scope="col">Number of Book Copies</th>
                            <th scope="col">Number of Available Books</th>
                            <th scope="col">Number of authors</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td>{{num_books}}</td>
                            <td>{{num_instances}}</td>
                            <td>{{num_available}}</td>
                            <td>{{num_authors}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
{% endblock content %}